.app {
    background-color: aliceblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

.main {
    border: 2px dotted darkblue;
    background-color: lightblue;
    flex: 0 0 40%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 62%;
    position: relative;
}

.input > * {
    box-sizing: border-box;
    height: 100%;
}

.name {
    flex: 1618;
}

.submit {
    flex: 1000;
}

.uid {
    width: 60%;
}

.main:hover {
    background-color: hsl(195, 53%, 70%);
}