.app {
    background-color: aliceblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

.main {
    border: 2px dotted darkblue;
    background-color: lightblue;
    flex: 0 0 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main > * {
    box-sizing: border-box;
    height: 35%;
}

.uid {
    width: 60%;
}

.submit {
    width: 20%;
    font-size: 80%;
}

.main:hover {
    background-color: hsl(195, 53%, 70%);
}